.contenedor{
  display:flex; 
  justify-content:center;
  align-items:stretch;
}
.img{
  width:100%;
  height:auto;
}
.centro{
  position:absolute;
  margin:0;
  text-align:center; 
  font-family: 'Anton', sans-serif;
  letter-spacing:13px;
  font-size: 3rem;
  color:#870521;
  text-shadow: 4px 9px 6px #FFF6E4;  
}